:root {
    --primary: #F083B1;
    --radius: 7px;
    --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.button {
    padding: 15px;
    border: 0;
    background-color: #F083B1;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    box-shadow: var(--shadow);
}